.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
    margin-top: 26px;
}

button {
    border: none;
    background: none;
}

.pagination .number-page {
    padding: 3.6px 8.15px;
    margin-right: 22.3px;
    border-radius: 4px;
}

.pagination .number-page.active {
    background: #1890FF;
    color: #fff;
}

.pagination .prev {
    margin-right: 24px;
}

.pagination .prev.acitiveBtn {
    color: #979797;
}

.pagination .next {
    margin-left: 2px;
}